/db/*.sqlite3
/tmp
/vendor/cache

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Rails logs
/log/*.log

# Ignore generated assets
/public/assets

# Ignore generated static site
/public/**/index.html
