div#form {
  text-align: center;
}

div#properties {
  position: relative;
  width: 100%;
  margin-top: 2em;
}

div#cool {
  border: 1px solid #aaa;
  width: 47%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div#boring {
  border: 1px solid #aaa;
  width: 47%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div#list-link {
  clear: both;
  text-align: right;
}

div.property {
  margin-top: 1em;
}

div#properties h2 {
  margin: 0.3em;
}

div.property strong {
  margin-left: 1em;
}

div.property a.property_header {
  margin-left: 1em;
  border-bottom-width: 0;
}

div.property a.property_header:hover {
  border-bottom-width: 0;
}

#content div.property p {
  margin-left: 2em;
}

div.property ul.neighborhood_row {
  margin-left: 2em;
}

div.property ul.neighborhood_row li {
  display: inline;
}

div.property ul.neighborhood_row li strong {
  margin: 0;
}

body.index form input {
  font-size: 200%;
}

p#instructions {
  font-size: 80%;
  text-align: center;
}

div#property_list ul {
  width: 25%;
  float: left;
}

body.credits div#content, body.contact div#content, body.editorial_policy div#content, body.links div#content {
  padding-left:20%;
  padding-right:20%;
}

ul.credits {
  margin-top: -.5em;
  margin-left: 2em;
}

table form, table form div {
  display: inline;
}

table form input {
  display: inline;
}

table td.fresh {
  color: green;
  font-size: 150%;
  padding: 0.5em;
}

table td.stale {
  color: red;
  font-size: 150%;
  padding: 0.5em;
}

table td.known_ill {
  color: red;
}

table td.known_ok {
  color: orange;
}

table td.known_well {
  color: green;
}

div#unique_properties {
  width: 98%;
  margin: 1em auto;
  background: #E6EDFF;
  border: solid 1px #BFD3FF;
}

div#unique_properties ul {
  margin: 0 1em;
}

a.number_link {
  border-bottom-width: 0px;
}

div#content div.property_block p {
  margin: 0px;
  padding: 0px; 
}

div#content div.property_block h3 {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}
