<% @page_title = "Number Gossip Links" %>
<h1>Number Gossip Links</h1>

<p>If you are interested in numbers, here are some websites I can recommend.</p>

<ul>
<li><a href="http://www.research.att.com/~njas/sequences/">The On-Line Encyclopedia of Integer Sequences</a> 
&mdash; Here you can plug in part of a sequence and find out a lot about it.</li>
<li><a href="http://www.stetson.edu/~efriedma/numbers.html">What's Special About This Number?</a> 
&mdash; A list of special properties for numbers up to 10,000.</li>
<li><a href="http://primes.utm.edu/">The Prime Pages</a> 
&mdash; A lot of cool stuff about prime numbers.</li>
<li><a href="http://www.coolnumbers.com/">Cool Numbers</a>
&mdash; Calculates Coolness index of numbers, has a picture gallery of cool dollar bills.</li>
<li><a href="http://en.wikipedia.org/wiki/Category:Integers">Wikipedia</a> 
&mdash; An article about each integer.</li>
<li><a href="http://www.madandmoonly.com/doctormatt/mathematics/numberDictionary/numbDict.htm">The On-Line Dictionary of Numbers</a> 
&mdash; Here you can plug in a number up to 300,000,000 and get its prime factorization with some other properties.</li>
<li><a href="http://www.positiveintegers.org/">Positive Integers</a> 
&mdash; Here you can plug in a number up to 1,000,000 and get its prime factorization with some other properties.</li>
<li><a href="http://www.angio.net/pi/piquery">The Pi-Search Page</a> 
&mdash; Here you can find the first occurence of your number in Pi.</li>
<li><a href="http://www.turbulence.org/Works/nums/">The secret lives of numbers</a> 
&mdash; Vizualization tool that allows you to see how many search hits each number gets.</li>
<li><a href="http://staff.jccc.edu/swilson/integermania/">Integermania</a> 
&mdash; Starting with four digits and a set of mathematical operations how many integers can you create? You can submit your solutions..</li>
<li><a href="http://maanumberaday.blogspot.com/">MAA NumberADay</a> 
&mdash; Number A Day blog posts a new number on every weekday.</li>
</ul>
